* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin-top: 5%;
}

.container {
    border: 1px solid rgb(0, 0, 0.5);
    border-radius: 10px;
    margin: auto;
    width: 70%;
    height: 15rem;
    padding: 20px;
    line-height: 2rem;
}
.container .div_1{
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 20vh;
    color: aliceblue;
    background-color: #3d8361;
}
.container .div_1 i{
    font-size: 3rem;
}
.container .div_1 h1{
    font-size: 2rem;
}
.container .div_2{
    background-color: burlywood;
    margin-top: 2%;

}
.container .div_2 h5{
    text-align: center;
    font-size: 1rem;
    

}